<div class="rotating-widget">
  
  <img src="/images/rotating/040c158f-aee6-4e00-a337-38c5c223f9fc.jpeg" alt="slide 1" />
  <img src="/images/rotating/0d9356c0-83e8-4a05-9020-02c9637157a9.jpeg" alt="slide 2" />
  <img src="/images/rotating/0e3ecbd0-7baa-463f-b889-a1b0585dcf55.jpeg" alt="slide 3" />
  <img src="/images/rotating/135bb2e9-7f89-4e71-b090-5c66ed0fd0f6.jpeg" alt="slide 4" />
  <img src="/images/rotating/5b94882d-25f3-49d2-a8a0-f76f0990fe54.jpeg" alt="slide 5" />
  <img src="/images/rotating/1642005170434.jpeg" alt="slide 6" />
  <img src="/images/rotating/36ddb481-27c8-44b5-b6de-d496ed62f13e.jpeg" alt="slide 7" />
  <img src="/images/rotating/412b7fcb-3c55-4187-b569-9964bbfd221c..jpeg" alt="slide 8" />
  <img src="/images/rotating/4aba9064-42c8-4dd7-a9d8-1c280b6335e2.jpeg" alt="slide 9" />
  <img src="/images/rotating/4c25ae80-9e67-40a4-b5d8-8058f953ee31.jpeg" alt="slide 10" />
  <img src="/images/rotating/4aba9064-42c8-4dd7-a9d8-1c280b6335e2.jpeg" alt="slide 11" />
  <img src="/images/rotating/50a0590e-d357-424c-8174-cfbba97a3102.jpeg" alt="slide 12" />
  <img src="/images/rotating/c478636a-89b0-471d-bf0c-beca5aa0f34c.jpeg.jpeg" alt="slide 13" />
  <img src="/images/rotating/8ca327d6-525a-489c-a695-3a381e621adb.jpeg" alt="slide 14" />

</div>
